.timeformatted {
    font-size: 35px;
    font-weight: 500;
    font-family: sans-serif;
    text-align: center;
    border: 1px solid #f85c79;
    padding: 10px 20px;
    border-radius: 10px;
    color: #f85c79;
}